<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/default">
        <label for="text1">Text 1:</label>
        <input type="text" id="text1" name="text1">
        <label for="text2">Cle :</label>
        <input type="text" id="text2" name="text2">
        <menu>
            <li><button type="submit" formaction="/chiffrer">Encrypt</button></li>
            <li><button type="submit" formaction="/dechiffrer">Decrypt</button></li>
            <li><button type="submit" formaction="/comparer">HASH-256</button></li>
        </menu>
    </form>
</body>
</html>